* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

.main {
	width: 100%;
	margin: auto;
	background-color: #ef2e1f;
	overflow: hidden;
}

.logo img {
	float: left;
	width: 250px;
	height: auto;
	margin-left: 10px;
	margin-top: 5px;
	padding-bottom: 5px;
}

.main ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 46px;
}

.main ul li {
	display: inline-block;
}

.main ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #000;
	transition: 0.6s ease;
	border-radius: 10px;
}

.main ul li a:hover {
	background-color: #fff;
	color: #000;
}

.main ul li a:active {
	text-decoration: none;
	color: #fff;
}

h1 {
	padding-bottom: 50px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

header {
	background-color: #fff;
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top: 50px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	width: 20%;
	color: #000;
	background-color: #fff;
	border-radius: 25px;
}

.card:hover {
	box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 1);
}

.card:activated {
	color: blue;
}

.card:visited {
	color: green;
}

.container {
	padding: 2px 16px;
}

.card {
	padding: 2px 16px;
	float: left;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-left: 100px;
}

img {
	border-radius: 5px 5px 0 0;
}

.align {
	padding: 10px;
	border-radius: 10px;
	margin-left: 300px;
	margin-right: 75px;
	margin-bottom: 75px;
}

.addFlight {
	background: #ffb3b3;
	width: 500px;
	color: black;
	font-size: 15px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 450px;
	margin-right: 75px;
	margin-bottom: 75px;
	float: none;
	display: inline-block;
	box-sizing: border-box;
}

.addFlight input[type=number], [type=text] {
	border-radius: 5px;
}

.addFlight input[type=submit] {
	font-weight: 800;
	border-radius: 15px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	background-color: none;
}

.delFlight {
	background: #ffb3b3;
	width: 500px;
	color: black;
	font-size: 15px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 400px;
	margin-right: 75px;
	margin-bottom: 75px;
}

.delFlight input[type=number] {
	border-radius: 5px;
	height: 20px;
}

.delFlight input[type=submit] {
	font-weight: 800;
	border-radius: 15px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	background-color: none;
}

label {
	font-size: 18px;
	font-style: italic;
}

.outer {
	width: 100%;
	text-align: center;
}

.inner {
	display: inline-block;
}

/*CSS for View Table*/
h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

#flightTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#flightTable td, #flightTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#flightTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#flightTable tr:hover {
	background-color: #ddd;
}

#flightTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ef2e1f;
	color: white;
}
/*View table CSS end*/

/*CSS for login*/
.loginbox{
width: 300px;
height: 500px;
background: #f2f2f2 ;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 60px;
border-radius: 10px;
}

h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
color: #000;
}

.loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
color: #000;
font-size: 15px;
}

.loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
border:none;
border-bottom: 1 px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #000;
font-size: 16px;

}

.loginbox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
background: #fb2525;
color: #fff;
font-size: 18px;
border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
cursor: pointer;
color: #000;
}

.loginbox a{
text-decoration: none;
font-size: 14px;
line-height: 20px;
color: #000;

}

.loginbox a:hover{
color: #1184b8;
}

.errorMessage{
	color: #ff0000;
}

label.error {
	color: red;
	font-size: 5rem;
	display: block;
	margin-top: 5px;
}

input.error {
	border: 1px dashed red;
	font-weight: 300;
	color: red;
}

.error_form {
	font-size: 15px;
	font-family: Arial;
	color: #FF0052;
}

/*login CSS end*/


.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('background2.jpg');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.booking-form {
	position: relative;
	background: #fff;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 45px 25px 25px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control::placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:focus {
	background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #ef2e1f;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #ef2e1f;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #ef2e1f;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #4fa3e3;
	font-weight: 400;
}

.booking-cta p {
	font-size: 22px;
	color: #ef2e1f;
}

.container2{
	width: 100%;

}

.progressbar{
	counter-reset: step;

}

.progressbar li{
	list-style-type: none;
	float: left;
	width: 25%;
	position: relative;
	text-align: center;
}

.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: #fff;
}

.progressbar li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
	z-index: -1;
}

.progressbar li:first-child:after{
	content: none;
}

.progressbar li.active{
	color: ##ef2e1f;
}

.progressbar li.active:before{
	border-color: #ef2e1f;
}
.progressbar li.active+ li:after{
	background-color: #ef2e1f;
}

.thank p{
font-size: 20px;
text-align: center;
margin-top: 0px;


}



.ticket{
border-color: #f18053;
border-style: groove;
border-radius: 5px;
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%,-50%);
display: flex;
width: 600px;

}

.ticket .qr_code{
width: 30%;
background: #252525;
padding: 20px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
    position: relative;
}

.ticket .qr_code img{
display: block;
width: 115px;

}

.ticket .ticketcontent{
width: 70%;
background: #fff;
padding: 20px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.ticket .ticketcontent .ticketlocation{
display: flex;
justify-content: space-between;
text-align: center;
    margin-bottom: 20px;
}

.ticket .ticketcontent .ticketlocation h1{
margin-bottom: 5px;
color: #252525;

}

.ticket .ticketcontent .ticketlocation p,
.ticket .ticketcontent .info p{
font-size: 13px;
color: #cecace;
font-

}
.ticket .ticketcontent .info{
display: flex;
justify-content: space-between;
}

.ticket .ticketcontent .info h4{
margin-bottom: 10px;
text-transform: uppercase;
font-size: 12px;
}

.ticket .qr_code:before,
.ticket .qr_code:after{
content: "";
position: absolute;
right: -10px;
width: 50px;
height: 50px;
background: #fff;
border-radius: 50%;
}

.ticket .qr_code:before{
top: -32px;
}

.ticket .qr_code:after{
bottom: -32px;
}





.ticket2{
border-color: #f18053;
border-style: groove;
border-radius: 5px;
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%,-50%);
display: flex;
width: 600px;

}

.ticket2 .qr_code{
width: 30%;
background: #252525;
padding: 20px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
    position: relative;
}

.ticket2 .qr_code img{
display: block;
width: 115px;

}

.ticket2 .ticketcontent{
width: 70%;
background: #fff;
padding: 20px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.ticket2 .ticketcontent .ticketlocation{
display: flex;
justify-content: space-between;
text-align: center;
    margin-bottom: 20px;
}

.ticket2 .ticketcontent .ticketlocation h1{
margin-bottom: 5px;
color: #252525;

}

.ticket2 .ticketcontent .ticketlocation p,
.ticket2 .ticketcontent .info p{
font-size: 13px;
color: #cecace;
font-

}
.ticket2 .ticketcontent .info{
display: flex;
justify-content: space-between;
}

.ticket2 .ticketcontent .info h4{
margin-bottom: 10px;
text-transform: uppercase;
font-size: 12px;
}

.ticket2 .qr_code:before,
.ticket2 .qr_code:after{
content: "";
position: absolute;
right: -10px;
width: 50px;
height: 50px;
background: #fff;
border-radius: 50%;
}

.ticket2 .qr_code:before{
top: -32px;
}

.ticket2 .qr_code:after{
bottom: -32px;
}

#printbutton{
border-style: groove;
position: relative;
margin-top: 480px;
margin-left: 50%;
border-radius: 5px;
background: #ef2e1f;
color: #fff;
}