* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

.main {
	width: 100%;
	margin: auto;
	background-color: #ef2e1f;
	overflow: hidden;
}

.logo img {
	float: left;
	width: 250px;
	height: auto;
	margin-left: 10px;
	margin-top: 5px;
	padding-bottom: 5px;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 46px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #000;
	transition: 0.6s ease;
	border-radius: 10px;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

ul li a:active {
	text-decoration: none;
	color: #fff;
}

h1 {
	padding-bottom: 50px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

header {
	background-color: #fff;
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top: 50px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	width: 20%;
	color: #000;
	background-color: #fff;
	border-radius: 25px;
}

.card:hover {
	box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 1);
}

.card:activated {
	color: blue;
}

.card:visited {
	color: green;
}

.container {
	padding: 2px 16px;
}

.card {
	padding: 2px 16px;
	float: left;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-left: 100px;
}

img {
	border-radius: 5px 5px 0 0;
}

.align {
	padding: 10px;
	border-radius: 10px;
	margin-left: 300px;
	margin-right: 75px;
	margin-bottom: 75px;
}

.addFlight {
	background: #ffb3b3;
	width: 500px;
	color: black;
	font-size: 15px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 450px;
	margin-right: 75px;
	margin-bottom: 75px;
	float: none;
	display: inline-block;
	box-sizing: border-box;
}

.addFlight input[type=number], [type=text] {
	border-radius: 5px;
}

.addFlight input[type=submit] {
	font-weight: 800;
	border-radius: 15px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	background-color: none;
}

.delFlight {
	background: #ffb3b3;
	width: 500px;
	color: black;
	font-size: 15px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 400px;
	margin-right: 75px;
	margin-bottom: 75px;
}

.delFlight input[type=number] {
	border-radius: 5px;
	height: 20px;
}

.delFlight input[type=submit] {
	font-weight: 800;
	border-radius: 15px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	background-color: none;
}

label {
	font-size: 18px;
	font-style: italic;
}

.outer {
	width: 100%;
	text-align: center;
}

.inner {
	display: inline-block;
}

<!--
CSS for View Table-->h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

#flightTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#flightTable td, #flightTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#flightTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#flightTable tr:hover {
	background-color: #ddd;
}

#flightTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ef2e1f;
	color: white;
}


.loginbox{
width: 300px;
height: 500px;
background: #f2f2f2 ;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 60px;
border-radius: 10px;
}

h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
color: #000;
}

.loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
color: #000;
font-size: 15px;
}

.loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
border:none;
border-bottom: 1 px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #000;
font-size: 16px;

}

.loginbox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
background: #fb2525;
color: #fff;
font-size: 18px;
border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
cursor: pointer;
color: #000;
}

.loginbox a{
text-decoration: none;
font-size: 14px;
line-height: 20px;
color: #000;

}

.loginbox a:hover{
color: #1184b8;
}

.errorMessage{
	color: #ff0000;
}

label.error {
	color: red;
	font-size: 5rem;
	display: block;
	margin-top: 5px;
}

input.error {
	border: 1px dashed red;
	font-weight: 300;
	color: red;
}

.error_form {
	font-size: 15px;
	font-family: Arial;
	color: #FF0052;
}