
.grid-container {
  border-radius: 4px;
  display: grid;
  height: 450px;
  align-content: center;
  grid-template-columns: 500px 500px 500px;
  grid-gap: 10px;
  background-color:white;
  padding: 50px;
}

.grid-container > .grid1 {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 400px;
  width: 135%;
  border-radius: 6px;
  border:ridge;

}
.grid-container > .grid2 {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 250px;
  width: 100%;
  margin-left: 250px;
  border-radius: 6px;
  border:ridge;
}

 button {
  color: #1C1D21;
  background:#e0ebeb;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 500px;
  box-sizing:border-box;
  display: block;
  float: left;
  width: 25%;
  height: 5px;
  font-size: 20px;
  border:ridge;
  border-radius:8px;
 
}

